---
layout: default
---

{{ content }}

{% for post in site.posts limit: 10 %}
<div class="post-preview">
  <div class="post-preview-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
  <div class="post-preview-date">&#8212; {{ post.date | date: "%B %d, %Y" }}</div>
  <div class="post-preview-body">{{ post.excerpt | strip_html | truncatewords: 55 }}</div>
  <div class="post-preview-more"><a href="{{ post.url }}">Read more &rarr;</a></div>
</div>
{% endfor %}

{% if site.posts.size > 10 %}
<p style="margin-top:1rem"><a href="/archive/">All posts &rarr;</a></p>
{% endif %}
